<header>
  <nav>
    <a href="/astro-blog/"><i class="fa-solid fa-circle-chevron-left"></i></a>
    <a href=""></a>
    <a href="/astro-blog/blog">Blog</a>
    <a href="/astro-blog/docs">Trainings and Docs</a>
  </nav>
</header>
<style>
header {
  margin: 2em 4em 2em;

}
h2 {
  margin: 0.5em 0;
}
</style>